*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #e11364;
   
}

header{
    background-color: #bc105c;
    border-left: 3px solid white;
    border-right: 3px solid white;
    color: white;
    margin: 30px;
    padding: 10px;
    text-align:center;
}

section{
    border-radius: 5px;
    color: white;
    background-color: #bc105c;
    margin: 30px;
    padding: 3px;
    width: 100%;
}

section h2{
    margin-top: 15px;
    padding: 15px;
}

.cards{
    background-color: white;
    border-radius: 5px;
    color: #bc105c;
    margin-top: 35px;
    text-align: right;
    padding: 5px;
    width:100%;
}

.cards h1 {
    border-bottom-style:dotted;
    margin: 15px;
}

footer{
    background-color: #e96093;
}